In [10]:
list_sent=[]
with open('bill.txt', encoding="utf8") as f:
    train_lines = f.readlines()
    for line in train_lines:
        line = line.split(':')
        for i in range(len(line)):
            line[i] = line[i].strip()
        list_sent.append(line)

In [12]:
import pandas as pd
get_BookCode = []
for i in list_sent:
    get_BookCode.append(i[0])

get_Price = []
for i in list_sent:
    get_Price.append(i[1])


df = pd.DataFrame({"price": get_BookCode, "answers": get_Price})
df

               questions answers
0  giá quyển sách 100003  180000
1  giá quyển sách 100004  120000
2  giá quyển sách 100003  180000
3  giá quyển sách 100004  120000

In [15]:
total = 0
for i in get_Price:
    total += int(i)

In [16]:
total

600000